<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js' %>
<%= javascript_include_tag 'https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'https://unpkg.com/packery@2/dist/packery.pkgd.min.js', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <div id="gallery-images" class="row masonry gx-2" data-url="<%= gallery_sort_images_path(@gallery) %>">
    <% @gallery.images.order(:position).each do |image| %>
      <div id="<%= dom_id(image) %>" class="col-sm-6 col-lg-3 mb-2 drag-me">
        <div class="card border-0" >
          <%= image_tag image.variant(combine_options: {auto_orient: true, gravity: 'center' }), class:"card-img" %>
          <div class="card-img-overlay">
            <%= link_to gallery_remove_image_path(:gallery_id => @gallery, :id => image), method: :delete, class: "text-danger card-link pl-3" do %>
              <i class="fas fa-trash-alt fa-2x fa-border" title="delete"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>