<%= content_for :title, "Savy Studios | About Me"%>
<%= render 'shared/hero_small' %>
<div class="container px-4">
    <div class="row pb-md-5 pt-5 align-items-center justify-content-center">
        <div class="col mb-md-5 d-flex justify-content-center">
            <%= image_tag 'me_and_kids.jpg', class: "image-fluid" %>
        </div>
        <div class="col-md-8 col-12 mt-4 mt-md-0 ml-2">
            <p>
            <%= @about_me.content || "Theres nothing here yet!" =%>
            </p>
        </div>
    </div>
    <div class="container mt-3 pt-5 pl-md-5">
        <%= render 'shared/rates' %>
        <%= render 'shared/interested' %>
    </div>
</div>