<div class="container-fluid pb-3 pt-3 footer text-shadow">
    <hr>
    <div class="row justify-content-around align-items-center text-center">
        <div class="col mx-auto">
            Copyright <%= Time.zone.now.year %> <i class="fa fa-copyright"></i> 
        </div>
        <div class="col">
        <%= link_to root_path, class: "navbar-brand m-auto" do %>
            <%= image_tag 'logo.png', class: "img-fluid mx-auto", alt: "Savy Studios Logo" %>
        <% end %>
        </div>
        <div class="col mx-auto">
            <div class="row justify-content-around">
                <div class="d-flex col-8 justify-content-around">
                    <a href="<%= @fb_link.content %>" target="_blank" rel="noopener" alt="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="<%= @insta_link.content %>" target="_blank" rel="noopener" alt="Instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>  