<% if @gallery %>
  <div class="row masonry gx-2 mt-5">
    <% if controller.controller_name == 'home' %>
      <% @gallery.images.order(:position).each do |image| %>
        <div class="col-sm-6 col-lg-3 mb-2">
          <div class="card border-0">
              <img src="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center', resize: "500x700", compress: "lossless", quality: 5 }).processed)  %>" data-src="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center', resize: "500x700", compress: "lossless", quality: 80 }).processed)  %>" class="card-img lazy" data-featherlight="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center', resize: "1920x1080" }))  %>">
          </div>
        </div>
      <% end %>
    <% else %>
      <% if @gallery.images.count > 0 %>
        <% @gallery.images.order(:position).each do |image| %>
          <div class="col-sm-6 col-lg-3 mb-2">
            <div class="card border-0">
                <img src="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center', resize: "500x700", compress: "lossless", quality: 5 }).processed)  %>" data-src="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center', resize: "500x700", compress: "lossless", quality: 80 }).processed)  %>" class="card-img lazy" data-featherlight="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center', resize: "1920x1080" }))  %>">
            </div>
          </div>
        <% end %>
      <% else %>
        <h1> Theres nothing here yet.....</h1>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h1>Theres nothing here yet.....</h1>
<% end %>