<%= content_for :head do %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/packery@2/dist/packery.pkgd.min.js', 'data-turbolinks-track': 'reload' %>
<% end %>
<% if @gallery %>
  <div class="row masonry gx-2">
    <% if controller.controller_name == 'home' %>
      <% @gallery.images.order(:position).each do |image| %>
        <div class="col-sm-6 col-lg-3 mb-2">
          <div class="card border-0 zoom-container shadow">
              <img src="<%= url_for(image.variant(auto_orient: true, gravity: 'center', resize: "500x700", compress: "lossless", quality: 5, sampling_factor: "4:2:0", interlace: "plane" ).processed)  %>" data-src="<%= url_for(image.variant(auto_orient: true, gravity: 'center', resize: "500x700", compress: "lossless", quality: 80, sampling_factor: "4:2:0", interlace: "plane" ).processed)  %>" class="card-img zoom lazy" data-featherlight="<%= url_for(image.variant(auto_orient: true, gravity: 'center', resize: "1920x1080" ))  %>" loading="lazy">
          </div>
        </div>
      <% end %>
    <% else %>
      <% if @gallery.images.count > 0 %>
        <% @gallery.images.order(:position).each do |image| %>
          <div class="col-sm-6 col-lg-3 mb-2">
            <div class="card border-0 zoom-container shadow">
                <img src="<%= url_for(image.variant(auto_orient: true, gravity: 'center', resize: "500x700", compress: "lossless", quality: 5, sampling_factor: "4:2:0", interlace: "plane").processed)  %>" data-src="<%= url_for(image.variant(auto_orient: true, gravity: 'center', resize: "500x700", compress: "lossless", quality: 80, sampling_factor: "4:2:0", interlace: "plane" ).processed)  %>" class="card-img zoom lazy" data-featherlight="<%= url_for(image.variant(auto_orient: true, gravity: 'center', resize: "1920x1080"))  %>" loading="lazy">
            </div>
          </div>
        <% end %>
      <% else %>
        <h1> Theres nothing here yet.....</h1>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h1>Theres nothing here yet.....</h1>
<% end %>