<%= content_for :title, "Savy Studios | Contact"%>
<%= render 'shared/hero_small' %>
<div class="container">
    <div class="row pt-2 justify-content-center">
        <div class="col-4 text-center text-primary my-auto d-none d-md-block">
            <%= fa_icon "envelope 15x" %>
        </div>
        <%= form_with class: "col-md-4 col-12" do %>
            <div class="row justify-content-start">
                <div class="col-9 pb-2">
                    <%= label_tag(:contact, "Name:") %>
                    <%= text_field(:contact, :name, class: "form-control") %>
                </div>
                <div class="col-9 pb-2">
                    <%= label_tag(:contact, "Email:") %>
                    <%= text_field(:contact, :email, class: "form-control") %>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-12 pb-2">
                    <%= label_tag(:contact, "Body:") %>
                    <%= text_area(:contact, :body, class: "form-control body-area") %>
                
                </div>
            </div>
            <div class="row mt-2 justify-content-md-start justify-content-center">
                <div class="col-4">
                    <button class="btn btn-primary mx-auto">
                        <%= fa_icon "share" %> <span>Send</span>
                    </button>
                </div>
            </div>
        <% end %>
    </div>
</div>