<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= preload_link_tag 'https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css', 'data-turbolinks-track': 'reload', 'onload': 'this.rel="stylesheet"' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar"%>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
