<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title)%></title>
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#b57540">
    <meta property="og:site_name" content="Savy Studios"/>
    <meta property="og:image" content="<%= image_url("social-banner.png") %>">
    <meta name="description" content="Savy Studios - DFW Photographer. Doing weddings and standard photoshoots at a location of your choosing.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield(:head)%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fe6eb4949a.js" crossorigin="anonymous" defer></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', defer: true %>
    <%= preload_link_tag 'https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css', 'data-turbolinks-track': 'reload', 'onload': 'this.onload=null;this.rel="stylesheet";' %>
    <noscript><%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css', media: 'all', 'data-turbolinks-track': 'reload' %></noscript>
    <%= javascript_include_tag 'application', defer: true, 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js',defer: true, 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js',defer: true, 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/packery@2/dist/packery.pkgd.min.js',defer: true, 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid px-0">
      <%= render "shared/navbar"%>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
