<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title)%></title>
    <link rel="manifest" href="/manifest.json">

    <!-- Primary Meta Tags -->
    <title>Meta Tags — Preview, Edit and Generate</title>
    <meta name="title" content="<%= yield(:title)%>">
    <meta name="description" content="Savy Studios - DFW Photographer. Doing weddings and standard photoshoots at a location of your choosing.">
    <meta name="theme-color" content="#b57540">

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Savy Studios"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= yield(:title)%>">
    <meta property="og:description" content="Savy Studios - DFW Photographer. Doing weddings and standard photoshoots at a location of your choosing.">
    <meta property="og:image" content="<%= image_url("social-banner.png") %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="<%= yield(:title)%>">
    <meta property="twitter:description" content="Savy Studios - DFW Photographer. Doing weddings and standard photoshoots at a location of your choosing.">
    <meta property="twitter:image" content="<%= image_url("social-banner.png") %>">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fe6eb4949a.js" crossorigin="anonymous" defer></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', defer: true %>
    <%= preload_link_tag 'https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css', 'data-turbolinks-track': 'reload', 'onload': 'this.onload=null;this.rel="stylesheet";' %>
    <noscript><%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css', media: 'all', 'data-turbolinks-track': 'reload' %></noscript>
    <%= yield(:head)%>
  </head>

  <body>
    <div class="container-fluid px-0">
      <%= render "shared/navbar"%>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
